<div class="toolbar">
    <h2>{{ userName }}'s Book List</h2>
    <button (click)="authService.logout()" class="btn btn-sm btn-danger">Logout</button>
  </div>

<div *ngFor="let item of books" class="book-card">

  <!-- book image at top of the app -->
   <div class="book-image-container">
    <img [src]="'http://localhost/AngularApp3API/uploads/' + item.imageName" 
    alt="Book Cover" class="book-image" />
   </div>

  <!-- TOP ROW -->
  <div class="book-top-row">

    <div class="book-meta">
      <div class="book-label">Title</div>
      <div class="book-value">{{ item.title }}</div>
    </div>

    <div class="book-meta">
      <div class="book-label">Author</div>
      <div class="book-value">{{ item.author }}</div>
    </div>

    <div class="book-meta">
      <div class="book-label">Date Published</div>
      <div class="book-value">{{ item.publishedDate }}</div>
    </div>

  </div>

  <!-- DESCRIPTION -->
  <div class="book-description-section">
    <div class="book-label">Description</div>
    <div class="book-description">
      {{ item.description }}
    </div>
  </div>

  <!-- BUTTONS -->
  <div class="book-actions">
    <button class="btn btn-primary btn-sm me-2" (click)="editBook(item)">
      Update
    </button>

    <button class="btn btn-danger btn-sm" (click)="deleteBook(item.bookID!)">
      Delete
    </button>
  </div>

<div id="links" class="mt-4 text-center">
  <button class="btn btn-sm btn-primary me-2" routerLink="/add">Add Book</button>
</div>

</div>