<div class="container">

    <div class="toolbar">
        <h2>{{ userName }}'s Book List</h2>
        <button (click)="authService.logout()" class="btn btn-sm btn-danger">Logout</button>
    </div>
  <form #f="ngForm" (ngSubmit)="addBook(f)">
    <!-- title -->
     <div class="form-group">
      <label>Title</label>
      <input type="text" name="title" class="form-control" [(ngModel)]="book.title"
          required maxlength="100" #title="ngModel" />
      <div *ngIf="title.errors?.['maxlength'] && title.touched" class="alert alert-danger mt-1">
          Title cannot exceed 100 characters or be empty.
      </div>
     </div>

     <!-- author -->
     <div class="form-group">
      <label>Author</label>
      <input type="text" name="author" class="form-control" [(ngModel)]="book.author"
          required maxlength="100" #author="ngModel" />
      <div *ngIf="author.errors?.['maxlength'] && author.touched" class="alert alert-danger mt-1">
          Title cannot exceed 100 characters or be empty.
      </div>
     </div>

     <!-- publisheDate -->
     <div class="form-group">
      <label>Date Published</label>
      <input type="date" name="publishedDate" class="form-control" [(ngModel)]="book.publishedDate"
          required />
     </div>

     <!-- description -->
     <div class="form-group">
      <label>Description</label>
      <textarea name="description" class="form-control" [(ngModel)]="book.description" rows="3" required></textarea>
     </div>

     <!-- Upload Image -->
     <div class="form-group">
      <label>Upload Image</label>
      <input type="file" name="imageName" class="form-control" (change)="onFileSelected($event)" />
     </div>

     <!-- Buttons -->
     <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Add Book</button>
      <button class="btn btn-secondary" routerLink="/books">Cancel</button>
     </div>

  </form>
</div>
